/* Обнулить стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Устанавливаем box-sizing для всех элементов */
}

/* Центрирование */
.center {
    padding-left: calc(50% - 1800px / 2); /* Центрирование блока шириной 1800px */
    padding-right: calc(50% - 1800px / 2);
}

/* Начало стилей для заголовочной секции */
.header-section {
    background: rgba(227, 227, 227); /* Светло-серый фон */
    display: flex; /* Flex-контейнер для расстановки элементов */
    justify-content: space-between; /* Распределение элементов по краям */
    padding-top: 15px;
    padding-bottom: 15px;
}

.current-date-label, .current-time-label, .header-content-header {
    font-family: "Cascadia Code", monospace; /* Шрифт для элементов заголовка */
}

.current-date, .current-clock {
    color: #ff0000; /* Красный цвет для даты и времени */
}
/* Конец стилей для заголовочной секции */

/* Начало стилей для секции с таблицей существующих пользователей */
.article-section {
    background: rgba(227, 227, 227, 0.5); /* Полупрозрачный фон */
}

.main-section-content {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-header {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: "Cascadia Code", monospace; /* Шрифт для заголовков */
}

.users-table-container {
    background: rgb(255, 255, 255); /* Белый фон контейнера таблицы */
    padding: 15px;
}

.users-content-table, .users-table-header, .users-table-value {
    border: solid 2px #000000; /* Рамка для таблицы и её элементов */
    border-collapse: collapse; /* Слияние границ ячеек */
}

.users-table-header, .users-table-value {
    font-family: "Liberation Serif", sans-serif; /* Шрифт для заголовков и значений таблицы */
    padding: 2px;
    text-align: center; /* Выравнивание текста по центру */
}

.table-value-link {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
/* Конец стилей для секции с таблицей существующих пользователей */

/* Начало стилей для секции с регистрацией новых пользователей */
.registration-new-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: "Liberation Sans", sans-serif; /* Шрифт для формы регистрации */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#last-name, #first-name, #middle-name, #login, #password, #confirm-password, #role {
    display: grid; /* Сеточное отображение для полей ввода */
    width: 500px;
    height: 40px;
    text-align: center; /* Выравнивание текста по центру */
    margin-bottom: 5px;
    margin-top: 5px;
}

.password-requirements {
    display: flex;
    align-items: center;
    gap: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.list-password-requirements {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

.form-register-user-button {
    font-family: "DejaVu Serif", serif; /* Шрифт для кнопки регистрации */
    color: #0000ff; /* Синий цвет текста кнопки */
    border: solid #969696; /* Серая рамка */
    background: #e9e9e9; /* Светло-серый фон */
    margin: 15px;
    padding: 5px;
    cursor: pointer; /* Изменение курсора при наведении */
}

.red, .error-message, .unblock-users-message, .registration-error {
    color: #ff0000 !important; /* Красный цвет для сообщений об ошибке */
    font-family: "Cascadia Code", monospace; /* Шрифт для сообщений */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.green, .success-message, .registration-success {
    color: #008000; /* Зеленый цвет для сообщений об успешной операции */
    font-family: "Cascadia Code", monospace; /* Шрифт для сообщений */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Конец стилей для секции с регистрацией новых пользователей */

/* Начало стилей для подвальной секции */
.footer-section {
    background: rgba(227, 227, 227); /* Светло-серый фон */
    display: flex; /* Flex-контейнер для расстановки элементов */
    justify-content: space-around; /* Распределение элементов по краям */
    padding-top: 15px;
    padding-bottom: 15px;
}

.back-to-main-page-link {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-family: "DejaVu Serif", serif; /* Шрифт для ссылок */
    border: solid #969696; /* Серая рамка */
    background: #e9e9e9; /* Светло-серый фон */
    margin: 15px;
    padding: 5px;
}
/* Конец стилей для подвальной секции */