/* Обнулить стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Центрирование */
.center {
    padding-left: calc(50% - 1600px / 2);
    padding-right: calc(50% - 1600px / 2);
}

/* Начало стилей для заголовочной секции */
.header-section {
    background: rgba(227, 227, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-content-header, .main-content-header {
    text-align: center;
    font-family: "Cascadia Code", monospace;
    padding-bottom: 15px;
}

.update-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: "Liberation Sans", sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#login, #employee_last_name, #employee_first_name, #employee_middle_name, #role_id, #unlimited-password-expiry-label {
    display: grid;
    width: 500px;
    height: 40px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.update-user-button, .update-block-unblock-status-button, .update-user-password-button {
    font-family: "DejaVu Serif", serif;
    color: #0000ff;
    border: solid #969696;
    background: #e9e9e9;
    margin: 15px;
    padding: 5px;
}

/* Конец стилей для заголовочной секции */

/* Начало стилей для основной секции */
.article-section {
    background: rgba(227, 227, 227, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-section-content {
    padding: 25px;
}

.block-unblock-users-form, .change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: "Liberation Sans", sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block-unblock-users-form-warning, .error-message {
    font-family: "Cascadia Code", monospace;
    text-align: center;
    color: #ff0000;
    padding-top: 20px;
    padding-bottom: 20px;}

.success-message {
    color: #008000;
    font-family: "Cascadia Code", monospace;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#blocked_until, #new-password, #new-password-check {
    display: grid;
    width: 500px;
    height: 40px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* Конец стилей для основной секции */

/* Начало стилей для подвальной секции */
.footer-section {
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(227, 227, 227);
    border-top: solid 2px #000000;
    display: flex;
    justify-content: center;
}

.back-to-admin-page-link {
    text-decoration: none;
    font-family: "DejaVu Serif", serif;
    border: solid #969696;
    background: #e9e9e9;
    margin: 15px;
    padding: 5px;
}
/* Конец стилей для подвальной секции */

@media (max-width: 1366px) and (max-height: 768px) {
    .center {
        padding-left: calc(50% - 1300px / 2);
        padding-right: calc(50% - 1300px / 2);
    }
}